[submodule "Lib/Bitter"]
	path = Lib/Bitter
	url = git@github.com:wednesdaywoe/Bitter.git
[submodule "Lib/AeroMessages"]
	path = Lib/AeroMessages
	url = git@github.com:wednesdaywoe/AeroMessages.git
	branch = arclight
[submodule "Lib/BepuPhysics2"]
	path = Lib/BepuPhysics2
	url = git@github.com:wednesdaywoe/bepuphysics2.git
